<form class="mb-5">
  <div class="form-row justify-content-center">
    <div class="mr-1 col-3">
      {{#basic-dropdown as |dropdown|}}
        {{#dropdown.trigger}}
          <input type="text"
                 data-ebd-id="{{dropdown.uniqueId}}-trigger"
                 class="form-control date-input"
                 value="{{unless date "Please select a date range"}}{{if date.start (moment-format date.start "Do MMM YYYY")}} {{if date.end "to"}} {{if date.end (moment-format date.end "Do MMM YYYY")}}"
                 readonly>
        {{/dropdown.trigger}}
        {{#dropdown.content}}
          {{#power-calendar-range class="filter-calendar"
                            center=center
                            onCenterChange=(action (mut center) value="date")
                            selected=date
                            onSelect=(action "onDateChange" value="date") as |calendar|}}
            {{calendar.nav}}
            {{calendar.days}}
          {{/power-calendar-range}}
        {{/dropdown.content}}
      {{/basic-dropdown}}
    </div>
    <div class="col-3">
      {{#power-select-multiple
          options=categories
          searchField="name"
          selected=category
          onchange=(action "onCategoryChange")
          dropdownClass="in-modal-dropdown"
          placeholder="Select a category" as |category|}}
        {{category.name}}
      {{/power-select-multiple}}
    </div>
    <div class="col-3">
      {{#power-select-multiple
          options=tags
          searchField="name"
          selected=tag
          onchange=(action "onTagChange")
          dropdownClass="in-modal-dropdown"
          placeholder="Select the tags" as |tag|}}
        {{tag.name}}
      {{/power-select-multiple}}
    </div>
    <div>
      {{#bs-button type="danger" class="btn-filter" onClick=(action "onClear")}}{{fa-icon "eraser"}}{{/bs-button}}
    </div>
  </div>
</form>