{{yield}}
<th scope="row">{{this.recipe.id}}</th>
<td>{{this.recipe.title}}</td>
<td>{{this.recipe.description}}</td>
<td>{{recipe-date-format this.recipe.date}}</td>
<td><img src={{this.recipe.imageUrl}} alt="Recipe Image"></td>