<form class="mb-5">
  <div class="form-row justify-content-center">
    <div>
      {{#power-datepicker selected=date onSelect=(action (mut date) value="date") as |dp|}}
        {{#dp.trigger tabindex="-1"}}
          {{#bs-button type="default" class="btn-filter btn-datepicker"}}{{fa-icon "calendar"}}{{/bs-button}}
        {{/dp.trigger}}
        {{#dp.content class="filter-calendar"}}
          {{dp.nav}}
          {{dp.days}}
        {{/dp.content}}
      {{/power-datepicker}}
    </div>
    <div class="col-4">
      {{#power-select-multiple options=categories searchField="name" selected=category onchange=(action (mut category)) dropdownClass="in-modal-dropdown" placeholder="Select a category" as |category|}}
        {{category.name}}
      {{/power-select-multiple}}
    </div>
    <div class="col-4">
      {{#power-select-multiple options=tags searchField="name" selected=tag onchange=(action (mut tag)) dropdownClass="in-modal-dropdown" placeholder="Select the tags" as |tag|}}
        {{tag.name}}
      {{/power-select-multiple}}
    </div>
    <div>
      {{#bs-button type="primary" class="btn-filter" onClick=(action "onFilterClick" filter)}}{{fa-icon "search"}}{{/bs-button}}
    </div>
    <div>
      {{#bs-button type="danger" class="btn-filter" onClick=(action "onClearClick")}}{{fa-icon "eraser"}}{{/bs-button}}
    </div>
  </div>
</form>
