{{yield}}
<div class="text-center">
  <img src={{recipe.imageUrl}} class="img-thumbnail" alt="Recipe Image">
  <hr>
  <h4>Title</h4>
  <p>{{recipe.title}}</p>
  <h4>Description</h4>
  <p>{{recipe.description}}</p>
  <h4>Ingredients</h4>
  <ul class="list-inline">
    {{#each recipe.ingredients as |ingredient|}}
      <li class="list-inline-item">{{ingredient.name}}</li>
    {{/each}}
  </ul>
  <h4>Category</h4>
  <p>{{recipe.category.name}}</p>
  <h4>Tags</h4>
  <ul class="list-inline">
    {{#each recipe.tags as |tag|}}
      <li class="list-inline-item">{{tag.name}}</li>
    {{/each}}
  </ul>
  <h4>Date</h4>
  <p>{{recipe-date-format recipe.date}}</p>
</div>