<form class="mb-5">
  <div class="form-row justify-content-center">
    <div class="mr-1">
      {{#power-datepicker selected=date onSelect=(action "onDateChange" value="date") as |dp|}}
        {{#dp.trigger tabindex="-1"}}
          {{input type="text" id="title" disabled=true value=(moment-format date "Do MMM YYYY" allow-empty=true) class="form-control date-input" placeholder="Select a date"}}
        {{/dp.trigger}}
        {{#dp.content class="filter-calendar"}}
          {{dp.nav}}
          {{dp.days}}
        {{/dp.content}}
      {{/power-datepicker}}
    </div>
    <div class="col-3">
      {{#power-select-multiple options=categories searchField="name" selected=category onchange=(action "onCategoryChange") dropdownClass="in-modal-dropdown" placeholder="Select a category" as |category|}}
        {{category.name}}
      {{/power-select-multiple}}
    </div>
    <div class="col-3">
      {{#power-select-multiple options=tags searchField="name" selected=tag onchange=(action "onTagChange") dropdownClass="in-modal-dropdown" placeholder="Select the tags" as |tag|}}
        {{tag.name}}
      {{/power-select-multiple}}
    </div>
    <div>
      {{#bs-button type="danger" class="btn-filter" onClick=(action "onClear")}}{{fa-icon "eraser"}}{{/bs-button}}
    </div>
  </div>
</form>