{{yield}}
<div class="card" style="width: 20rem;">
  <img src={{this.recipe.imageUrl}} class="card-img-top" alt="...">
  <div class="card-body">
    <h4 class="card-title">{{this.recipe.title}}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{this.recipe.category.name}}</h6>
    <p class="card-text">{{this.recipe.description}}</p>
  </div>
  <div class="card-header">Ingredients</div>
  <ul class="list-group list-group-flush">
    {{#each this.recipe.ingredients as |ingredient|}}
      <li class="list-group-item">
        {{ingredient.name}}
      </li>
    {{/each}}
  </ul>
  <div class="card-header">Tags</div>
  <ul class="list-group list-group-flush">
    {{#each this.recipe.tags as |tag|}}
      <li class="list-group-item">
        {{tag.name}}
      </li>
    {{/each}}
  </ul>
  <div class="card-footer text-muted">
    {{recipe-date-format this.recipe.date}}
  </div>
  <div class="card-header">
    {{#link-to "recipes" class="btn btn-primary"}}
      Details
    {{/link-to}}
  </div>
</div>