{{yield}}
<table class="table table-hover table-sm text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {{#each tags as |tag|}}
      <tr>
        <th scope="row" class="align-middle">{{tag.id}}</th>
        <td class="align-middle">{{tag.name}}</td>
        <td class="align-middle">
          <div class="btn-group" role="group">
            {{#bs-button type="info" outline="true" onClick=(action "openModal" "Details" tag)}}Details{{/bs-button}}
            {{#bs-button type="warning" outline="true" onClick=(action "openModal" "Update" tag)}}Update{{/bs-button}}
            {{#bs-button type="danger" outline="true" onClick=(action "openModal" "Delete" tag)}}Delete{{/bs-button}}
          </div>
        </td>
      </tr>
    {{else}}
      <td>Sorry, no tags available!</td>
    {{/each}}
  </tbody>
</table>
<hr>
{{#bs-button type="primary" onClick=(action "openModal" "Create" tag)}}Create{{/bs-button}}

{{#table-modal modalType=modalType objectType="Tag" isModalOpen=isModalOpen}}
  {{component modalBodyType tag=selectedTag}}
{{/table-modal}}