<div class="text-center">
  <h4>Title</h4>
  <p>{{this.model.title}}</p>
  <h4>Description</h4>
  <p>{{this.model.description}}</p>
  <h4>Date</h4>
  <p>{{recipe-date-format this.model.date}}</p>
  <h4>Ingredients</h4>
  {{#each this.model.ingredients as |ingredient|}}
    <p>{{ingredient.name}}</p>
  {{else}}
    <p>This recipe doesn't contain any ingredients!</p>
  {{/each}}
  <h4>Category</h4>
  <p>{{this.model.category.name}}</p>
  <h4>Tags</h4>
  {{#each this.model.tags as |tag|}}
    <p>{{tag.name}}</p>
  {{else}}
    <p>This recipe doesn't contain any tags!</p>
  {{/each}}
</div>