<div class="card-deck recipe-card-deck">
  <div class="card recipe-card">
    <div class="card-body">
      <h4 class="card-title">Create your own recipe!</h4>
    </div>
    {{#bs-button type="primary" block="true" onClick=(action "openModal" "Create" recipe)}}Create{{/bs-button}}
  </div>
  {{#each model.recipes as |recipe|}}
    {{#if recipe.id}}
      {{#unless recipe.isDeleted}}
        <div class="card recipe-card">
          <img src={{recipe.imageUrl}} class="card-img-top" alt="Recipe Image">
          <div class="card-header">
            <h4 class="card-title">{{recipe.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{recipe.category.name}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text recipe-card-description text-center">{{recipe.description}}</p>
            <h6 class="card-text text-muted text-right">{{recipe-date-format recipe.date}}</h6>
          </div>
          {{#bs-button type="info" block="true" onClick=(action "openModal" "Details" recipe)}}Details{{/bs-button}}
        </div>
      {{/unless}}
    {{/if}}
  {{else}}
    <h1>Sorry, no recipes available!</h1>
  {{/each}}
</div>

{{#generic-modal type=modalType modelType="Recipe" isOpen=isModalOpen}}
  {{component modalBodyComponent onSubmit=(action onSubmitAction) recipe=selectedRecipe ingredients=model.ingredients categories=model.categories tags=model.tags}}
{{/generic-modal}}