{{recipe-filter onFilterResults=(action "filterResults") categories=model.categories tags=model.tags}}

<div class="card-deck recipe-card-deck">
  <div class="card recipe-card">
    <div class="card-body">
      <h2 class="card-title text-center">Create your own recipe!</h2>
      {{#bs-button type="primary" block="true" class="mt-5" onClick=(action "openModal" "Create" recipe)}}Create{{/bs-button}}
    </div>
  </div>
  {{#each model.recipes as |recipe|}}
    {{#if recipe.id}}
      {{#unless recipe.isDeleted}}
        <div class="card recipe-card">
          <img src={{recipe.imageUrl}} class="card-img-top card-img-recipe" alt="Recipe Image">
          <div class="card-header">
            <h4 class="card-title">{{recipe.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{recipe.category.name}}</h6>
          </div>
          <div class="card-body text-center">
            <p class="card-text recipe-card-description">{{recipe.description}}</p>
            {{#bs-button type="info" onClick=(action "openModal" "Details" recipe)}}Details{{/bs-button}}
          </div>
          <div class="card-footer">
            <h6 class="card-text text-muted text-right">{{recipe-date-format recipe.date}}</h6>
          </div>
        </div>
      {{/unless}}
    {{/if}}
  {{/each}}
</div>

{{#generic-modal type=modalType modelType="Recipe" isOpen=isModalOpen onClose=(action "onModalClose")}}
  {{component modalBodyComponent onSubmit=(action onSubmitAction) recipe=selectedRecipe ingredients=model.ingredients categories=model.categories tags=model.tags}}
{{/generic-modal}}