{{#bs-button type="primary" class="mb-3" onClick=(action "openModal" "Create" recipe)}}Create{{/bs-button}}

<table class="table table-hover table-responsive-sm">
  <thead>
    <tr>
      <th scope="col" class="table-col-fixed">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Date</th>
      <th scope="col" class="table-col-fixed"></th>
    </tr>
  </thead>
  <tbody>
    {{#each model.recipes as |recipe|}}
      {{#if recipe.id}}
        {{#unless recipe.isDeleted}}
          <tr>
            <th scope="row" class="align-middle">{{recipe.id}}</th>
            <td class="align-middle">{{recipe.title}}</td>
            <td class="align-middle">{{recipe.description}}</td>
            <td class="align-middle">{{recipe.category.name}}</td>
            <td class="align-middle">{{moment-format recipe.date "DD-MM-YYYY"}}</td>
            <td class="align-middle">
              <div class="btn-group" role="group">
                {{#bs-button type="info" outline="true" onClick=(action "openModal" "Details" recipe)}}Details{{/bs-button}}
                {{#bs-button type="info" outline="true" onClick=(action "openModal" "Update" recipe)}}Update{{/bs-button}}
                {{#bs-button type="danger" outline="true" onClick=(action "openModal" "Delete" recipe)}}Delete{{/bs-button}}
              </div>
            </td>
          </tr>
        {{/unless}}
      {{/if}}
    {{else}}
      <td colspan="6">Sorry, no recipes available!</td>
    {{/each}}
  </tbody>
</table>

{{#generic-modal type=modal.type
                 modelType=modal.modelType
                 isOpen=modal.isOpen
                 title=modal.title
                 onClose=(action modal.onCloseAction)
                 onClosed=(action modal.onClosedAction)}}
  {{component modal.bodyComponent
              onFormSubmit=(action modal.submitAction)
              onFormCancel=(action modal.cancelAction)
              recipe=selected ingredients=model.ingredients categories=model.categories tags=model.tags}}
{{/generic-modal}}